<div class="auth-container">
    <h2>Registration</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="form-field">
        <label>First Name *</label>
        <input pInputText formControlName="firstname" />
        <small *ngIf="registerForm.controls['firstname'].invalid && registerForm.controls['firstname'].touched">
          First Name is required
        </small>
      </div>

      <div class="form-field">
        <label>Last Name *</label>
        <input pInputText formControlName="lastname" />
        <small *ngIf="registerForm.controls['lastname'].invalid && registerForm.controls['lastname'].touched">
          Last Name is required
        </small>
      </div>

      <div class="form-field">
        <label>Email *</label>
        <input pInputText type="email" formControlName="email" />
        <small *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">
          Valid Email is required
        </small>
      </div>

      <div class="form-field">
        <label>Mobile *</label>
        <input pInputText type="text" formControlName="mobile" />
        <small *ngIf="registerForm.controls['mobile'].invalid && registerForm.controls['mobile'].touched">
          Mobile is required
        </small>
      </div>

      <div class="form-field">
        <label>Phone</label>
        <input pInputText type="text" formControlName="phone" />
      </div>

      <div class="form-field">
        <label>Address</label>
        <input pInputText formControlName="address" />
      </div>

      <div class="form-field">
        <label>Postcode</label>
        <input pInputText formControlName="postcode" />
      </div>

      <button pButton type="submit" label="Register" [disabled]="registerForm.invalid"></button>
    </form>
  </div>