<p-card header="User Profile" subheader="{{ profile.firstname }} {{ profile.lastname }}">
  <ng-template pTemplate="content">
    <div class="p-grid p-dir-col p-align-start">
      <div class="p-col">
        <strong>Email:</strong>
        <span *ngIf="!editMode">{{ editedProfile.email }}</span>
        <input *ngIf="editMode" pInputText [(ngModel)]="editedProfile.email" />
      </div>
      <div class="p-col">
        <strong>Mobile:</strong>
        <span *ngIf="!editMode">{{ editedProfile.mobile }}</span>
        <input *ngIf="editMode" pInputText [(ngModel)]="editedProfile.mobile" />
      </div>
      <div class="p-col">
        <strong>Phone:</strong>
        <span *ngIf="!editMode">{{ editedProfile.phone }}</span>
        <input *ngIf="editMode" pInputText [(ngModel)]="editedProfile.phone" />
      </div>
      <div class="p-col" *ngIf="profile.address">
        <strong>Address:</strong>
        <span *ngIf="!editMode">{{ editedProfile.address }}</span>
        <input *ngIf="editMode" pInputText [(ngModel)]="editedProfile.address" />
      </div>
      <div class="p-col" *ngIf="profile.city">
        <strong>City:</strong>
        <span *ngIf="!editMode">{{ editedProfile.city }}</span>
        <input *ngIf="editMode" pInputText [(ngModel)]="editedProfile.city" />
      </div>
      <div class="p-col" *ngIf="profile.postcode">
        <strong>Postcode:</strong>
        <span *ngIf="!editMode">{{ editedProfile.postcode }}</span>
        <input *ngIf="editMode" pInputText [(ngModel)]="editedProfile.postcode" />
      </div>
      <div class="p-col" *ngIf="profile.contact">
        <strong>Contact:</strong>
        <span *ngIf="!editMode">{{ editedProfile.contact }}</span>
        <input *ngIf="editMode" pInputText [(ngModel)]="editedProfile.contact" />
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button *ngIf="!editMode" pButton type="button" label="Edit Profile" class="p-button-secondary" (click)="editProfile()"></button>
    <button *ngIf="editMode" pButton type="button" label="Save" class="p-button-success" (click)="saveProfile()"></button>
  </ng-template>
</p-card>