<!-- <p-dialog header="Καταχώριση νέου ιδιοκτήτη και κατοικίδίων" [modal]="true" [(visible)]="visibleOwnerAndPetDialog" >
    <app-registration (visibleForm)="visibleFormOwnerAndPetDialog($event)" ></app-registration>
</p-dialog> -->

    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Καταχώριση νέου ιδιοκτήτη" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="addOwnerDialog()"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                (click)="exportToPDF()"></button>
        </ng-template>
    </p-toolbar>
    @if(isLoading()) {
        <p-progressSpinner aria-label="Loading"></p-progressSpinner>
    }

    @if(users() && users().length === 0) {
        <p-progressSpinner aria-label="Δεν υπάρχουν εγγραφές"></p-progressSpinner>
      }
    @if(users.length  > 0){
    <p-table #dt [value]="users()" [loading]="isLoading()" [rows]="25" [rowsPerPageOptions]="[25, 50, 80]"
        [paginator]="true" [globalFilterFields]="['firstname', 'lastname', 'mobile']"
         [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
        sortField="lastname" [sortOrder]="1" emptyMessage="No records found">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Συνολικά υπάρχουν {{ users() ? users.length : 0 }} {{ users.length == 1 ? 'ιδιοκτήτης'
                    : 'ιδιοκτήτες' }} </h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Αναζήτηση..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>No.</th>
                <th pSortableColumn="lastname">Επώνυμο <p-sortIcon field="lastname"></p-sortIcon></th>
                <th pSortableColumn="firstname">Όνομα <p-sortIcon field="firstname"></p-sortIcon></th>
                <th>Τηλ. Επικ.</th>
                <th>Διεύθυνση</th>
                <th>E-mail</th>
                <th>Ενέργειες</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-owner>
            <tr>
                <td>{{ owner.id }}</td>
                <td>{{ owner.lastname }}</td>
                <td>{{ owner.firstname }}</td>
                <td>{{ owner.contact }}</td>
                <td>{{ owner.address }}</td>
                <td>{{ owner.email }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        [routerLink]="['/users/', owner.id, 'edit']"></button>
                    <button pButton pRipple icon="pi pi-info-circle" class="p-button-rounded p-button-rounded mr-2"
                        [routerLink]="['/users/', owner.id, 'view']"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2"
                        (click)="openDeleteDialog(owner)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="2" class="p-text-center">Δεν βρέθηκαν καταχωρημένοι Ιδιοκτήτες</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">Created by Andreadis.</div>
        </ng-template>
    </p-table>
}
